# Always publish packages public by default
access=public

# Save exact versions (no ^)
save-exact=true

# Optional: set registry (uncomment if needed)
# registry=https://registry.npmjs.org/

# Optional: always use https for registry
always-auth=true
